selene==2.0.0rc9
pytest==6.2.4
selenium~=4.27.1
allure-pytest==2.13.2
allure-python-commons~=2.13.2

# pytest~=8.3.3
# allure-pytest==2.8.40
# allure-python-commons~=2.8.40
# uuid==1.30
# pytest-testdox==2.0.1
# tenacity==7.0.0
# pytest-env==0.6.2
# pytest-rerunfailures==9.1.1
# faker==8.1.0
# pytest-xdist==2.2.1
# selenium-wire==4.6.4
# pre-commit==2.19.0
# urllib3==2.2.2
# requests~=2.32.0